*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

#logo{
    margin: 2% 1% 0 2%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.f-text{
    font-family: 'Roboto', sans-serif;
}


.logo{
    display: inline-block;
    height: 50px;
    line-height: 0;
    vertical-align:middle;
}

.container{
    padding: 30%;
    margin: 0 auto;
    background-color:bisque ;
    opacity: 0.2;
}

main{
    content: 100%;
    margin: 0 auto;
    background-color: white;
}

    