*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

#logo{
    margin: 2% 1% 0 2%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.f-text{
    font-family: 'Roboto', sans-serif;
}


.logo{
    display: inline-block;
    height: 50px;
    line-height: 0;
    vertical-align: middle;
}

.container{
    height: 120vh;
    padding: 10vh;
    background-color:rgba(255, 228, 196, 0.151) ;
}


main{
    height: 90vh;
    margin: 10vh 30vh 0 30vh;
    background-color: white;
}

.bg{
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

.blue{
    background-color: deepskyblue;
    margin: 5vh 1vh 1vh 10vh;
}

.white{
    border: 1px solid black;
}

hr{
    border: solid rgba(255, 228, 196, 0.151);
}
    